
ul { padding-left: 0;}
li { list-style: none; position: relative; margin: 8px 0 24px; line-height: 20px;}

h3 { margin: 40px 0 15px 40px; border-bottom: 1px solid #ddd; font-size: 22px; color: #059; padding-bottom: 3px;}


ul.items li { font-size: 15px; margin: 8px 0; line-height: 21px;}
.date { color: #777; font-size: 13px; text-transform: uppercase; margin-right: 3px; }
.left { position: absolute; font-size: 13px; left: -130px; width: 110px; text-align: right; margin-top: 0;}
